[mysql]
default-character-set   = utf8mb4

[client]
default-character-set   = utf8mb4


[mysqld]
user                    = mysql
sql_mode                = ""

default-storage-engine  = InnoDB
character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_ci
init_connect            = 'SET NAMES utf8mb4'

disable-log-bin
log-error               = /var/lib/mysql/mysql.error.log

default-time-zone       = '+8:00'
