version: "3"
networks:
  test:
    name: uptime
    driver: bridge

services:
  uptime:
    image: louislam/uptime-kuma:${UPTIME_VERSION}
    container_name: uptime-kuma
    ports:
      - "${UPTIME_PORT}:3001"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ${DATA_DIR}:/app/data
    environment:
      TZ: "$TZ"
    restart: always
    networks:
      - test
