version: "3"
networks:
  test:
    name: uptime
    driver: bridge

services:
  npm:
    image: jc21/nginx-proxy-manager:${NGINXPROXY_VERSION}
    container_name: nginx-proxy-manager
    restart: unless-stopped
    ports:
      - "${NGINX_HTTP_HOST_PORT}:80" #public http port
      - "${NGINX_HTTPS_HOST_PORT}:443" # public https port
      - "${NGINX_ADMIN_HOST_PORT}:81" # Admin web port
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${NPM_DATA_DIR}:/data
      - ${LETSENCRYPT_DATA_DIR}:/etc/letsencrypt
  uptime:
    image: louislam/uptime-kuma:${UPTIME_VERSION}
    container_name: uptime-kuma
    ports:
      - "${UPTIME_PORT}:3001"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ${DATA_DIR}:/app/data
    environment:
      TZ: "$TZ"
    restart: unless-stopped
    networks:
      - test
